<% content_for :title do %>
  <%= content_tag(:title, "#{t('.page_title')}｜#{t('service_name')}") %>
<% end %>

<% content_for :h1 do %>
  <h1><%= t('.page_title') %></h1>
<% end %>

<% content_for :breadcrumb do %>
  <ul class='breadcrumb'>
    <li class='breadcrumb__item'><%= link_to t('service_name'), root_path %></li>
    <li class='breadcrumb__item'><%= link_to t('.page_title'), questions_path %></li>
  </ul>
<% end %>

<p id="notice"><%= notice %></p>

<% @questions.each do |question| %>
  <div>
    <%= link_to question do %>
      <h2><%= question.title %></h2>
      <div>
        <%= question.content %>
      </div>
    <% end %>
    <div>
      <%= link_to t('edit'), edit_question_path(question) %>
      |
      <%= link_to t('destroy'), question, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>

<br>

<%= link_to t('.new_question'), new_question_path %>
