<% content_for :title do %>
  <%= content_tag(:title, "#{t('.page_title')}｜#{t('service_name')}") %>
<% end %>

<% content_for :back do %>
  <%= link_to :back do %>
    <%= image_tag 'zondicons/arrow-left.svg', alt: t('back'), class: 'h-8 w-4 pr-1' %>
  <% end %>
<% end %>

<% content_for :h1 do %>
  <%= t('.page_title') %>
<% end %>

<% content_for :breadcrumb do %>
  <ul class='flex my-2'>
    <li class='mr-3 px-1 border bg-white'><%= link_to t('service_name'), root_path %></li>
    <li class='mr-3 px-1 border bg-white'><%= link_to t('.page_title'), questions_path %></li>
  </ul>
<% end %>

<div class='border rounded-lg bg-white mb-5 px-2 py-1'>
  <%= render 'form', question: @question %>
</div>
