<% content_for :title do %>
  <%= content_tag(:title, "#{t('.page_title', question_title: @question.title)}｜#{t('service_name')}") %>
<% end %>

<p id="notice"><%= notice %></p>
<% content_for :back do %>
  <%= link_to :back do %>
    <%= image_tag 'zondicons/arrow-left.svg', alt: t('back'), class: 'h-8 w-4 pr-1' %>
  <% end %>
<% end %>

<% content_for :h1 do %>
  <%= @question.title %>
<% end %>

<% content_for :breadcrumb do %>
  <ul class='flex my-2'>
    <li class='mr-3 px-1 border bg-white'><%= link_to t('service_name'), root_path %></li>
    <li class='mr-3 px-1 border bg-white'><%= link_to t('questions.index.page_title'), questions_path %></li>
    <li class='mr-3 px-1 border bg-white'><%= link_to @question.title, @question %></li>
  </ul>
<% end %>

<%= render @question %>

<div data-controller='answer' class='bg-white border'>
  <div class='flex'>
    <div class='mx-auto px-1'>
      <%= image_tag 'zondicons/reply.svg', class: 'h-8 w-4', data: {action: 'click->answer#reply'} %>
    </div>
    <div class='mx-auto px-1'><%= image_tag 'zondicons/heart.svg', class: 'h-8 w-4' %></div>
    <div class='mx-auto px-1'><%= image_tag 'zondicons/share.svg', class: 'h-8 w-4', data: {action: 'click->answer#share'} %></div>
  </div>
  <div id='reply-form' class='border rounded-lg bg-white px-2 py-1 hidden' data-target='answer.form'>
    <%= render 'questions/answers/form', question: @question, answer: @answer %>
  </div>
</div>

<%= render partial: 'questions/answers/answer', collection: @question.answers, locals: {question: @question} %>

<div id='questions'>
  <%= render partial: 'questions/question', collection: @questions %>
</div>
