<% content_for :title do %>
  <%= content_tag(:title, t('service_name')) %>
<% end %>
<% content_for :h1 do %>
  <%= t('tagline') %>
<% end %>

<div class="mt-6 mx-auto py-6 px-8 rounded-lg bg-gray-50">
  <p class="text-left text-3xl tracking-tight font-extrabold text-gray-900">
    <span class="text-indigo-600">在宅勤務の悩みや<br>テレワークの疑問を<br>質問してみませんか？</span>
  </p>
  <%= image_tag 'undraw/questions.svg', class: 'mx-auto w-1/2' %>
  <div class="text-center mt-6 mx-auto">
    <div class="rounded-md shadow">
      <%= link_to '質問してみる',
                  new_question_path,
                  class: 'w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10' %>
    </div>
  </div>
</div>

<div class="mt-6 mx-auto py-6 px-8 rounded-lg bg-gray-50">
  <p class="text-left text-3xl tracking-tight font-extrabold text-gray-900">
    <span class="text-indigo-600">在宅勤務やテレワーク<br>の経験が豊富なユーザーから<br>すぐに回答が得られます。</span>
  </p>
  <%= image_tag 'undraw/share_opinion.svg', class: 'my-2 mx-auto w-1/2' %>
  <p class="mt-3 md:mt-5 mx-auto text-gray-500">
    どのような質問に、どのような回答が集まっているのでしょうか？<br />
  </p>
  <div class="rounded-md shadow mt-2">
    <%= link_to '他の人の質問を見てみる',
                questions_path,
                class: 'w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-indigo-100 md:py-4 md:text-lg md:px-10' %>
  </div>
</div>
