<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= content_for?(:title) ? yield(:title) : content_tag(:title, t('service_name')) %>
    <%= content_for?(:meta_decription) ? yield(:meta_decription) : tag.meta(name: :description, content: t('tagline')) %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% if content_for?(:meta_ogp) %>
      <%= yield(:meta_ogp) %>
    <% else %>
      <meta property="og:type" content="website" />
      <meta property="og:title" content="<%= t('service_name') %>" />
      <meta property="og:url" content="<%= request.url %>" />
      <meta property="og:description" content="<%= t('tagline') %>" />
      <meta property="og:site_name" content="<%= t('service_name') %>" />
      <meta property="og:image" content="<%= image_path('ogp_1200_800') %>" />
      <meta property="og:image:width" content="1200" />
      <meta property="og:image:height" content="800" />
      <meta property="og:locale" content="ja_JP" />
      <meta name="twitter:text:title" content="<%= t('service_name') %>" />
      <meta name="twitter:image" content="<%= image_path('ogp_1200_800') %>" />
      <meta name="twitter:card" content="summary_large_image" />
    <% end  %>

    <% if content_for?(:canonical_url) %>
      <%= yield(:canonical_url) %>
    <% else %>
      <link rel="canonical" href="<%= request.url.split('?').first %>" />
    <% end  %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if params[:css_debug] %>
      <style>
        *{outline: solid 1px pink !important;}
      </style>
    <% end  %>
  </head>

  <body class='bg-gray-100' data-controller='modal me'>
    <div class='bg-gray-200'>
      <h1 class='container mx-auto text-xs'><%= yield(:h1) %></h1>
    </div>
    <div class='w-100 border-b border-gray-200'>
      <div class='container mx-auto px-4 flex h-16 items-center'>
        <%= yield(:back) %>
        <%= link_to t('service_name'), root_path %>
        <div class='ml-auto mr-0 relative'>
          <% if Current.user %>
            <%= image_tag Current.user.icon, class: 'h-12 w-12 rounded-full block', data: {action: 'click->me#open'} %>
          <% else %>
            <%= link_to t('signin_with_twitter'), '/auth/twitter' %>
          <% end %>
          <% if Current.user %>
            <div class="hidden absolute right-0" data-target='me.container'>
              <div class="flex h-full">
                <div class="fixed inset-0 transition-opacity">
                  <div class="absolute inset-0 opacity-75" data-action='click->me#open'></div>
                </div>
                <div class="z-20 grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8 rounded-lg shadow-lg">
                  <%= link_to  Current.user, class: "-m-3 p-3 block space-y-1 rounded-md hover:bg-gray-50 transition ease-in-out duration-150" do %>
                    <p class="text-base leading-6 font-medium text-gray-900">
                      <%= "@#{Current.user.name}" %>
                    </p>
                  <% end %>
                  <%= link_to logout_path, method: :delete, class: '"-m-3 p-3 block space-y-1 rounded-md hover:bg-gray-50 transition ease-in-out duration-150"' do %>
                    <p class="text-base leading-6 font-medium text-gray-900">
                      <%= link_to 'logout', logout_path, method: :delete %>
                    </p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%- if content_for?(:breadcrumb) %>
      <div class='container mx-auto px-4'>
        <%= yield(:breadcrumb) %>
      </div>
    <% end %>
    <% if notice %>
      <div class='container mx-auto py-4'>
        <div class="rounded-md bg-green-100 p-4">
          <div class="flex">
            <div class="flex-shrink-0">
              <!-- Heroicon name: check-circle -->
              <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
              </svg>
            </div>
            <div class="ml-3">
              <h3 class="text-sm leading-5 font-medium text-green-800">
                Order completed
              </h3>
              <div class="mt-2 text-sm leading-5 text-green-700">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid pariatur, ipsum similique veniam.
                </p>
              </div>
              <div class="mt-4">
                <div class="-mx-2 -my-1.5 flex">
                  <button class="px-2 py-1.5 rounded-md text-sm leading-5 font-medium text-green-800 hover:bg-green-100 focus:outline-none focus:bg-green-100 transition ease-in-out duration-150">
                    View status
                  </button>
                  <button class="ml-3 px-2 py-1.5 rounded-md text-sm leading-5 font-medium text-green-800 hover:bg-green-100 focus:outline-none focus:bg-green-100 transition ease-in-out duration-150">
                    Dismiss
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class='container mx-auto'>
      <%= yield %>
    </div>
    <%= render 'shared/modal' %>
  </body>
</html>
